<h1 class="signin-heading">SIGN IN</h1>
<div class="signin-form-container col-md-8 col-md-offset-2">
  <form [formGroup]="myFormIn" (ngSubmit)="onSubmit()" class="signin-form">
    <!-- Campo de entrada de email -->
    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="emailTS"
      />
    </div>
    <!-- Mensagens de erro para o campo de email -->
    <div
      *ngIf="myFormIn.get('emailTS')?.errors?.['required'] && myFormIn.get('emailTS')?.touched"
    >
      <p class="error-message">E-mail Obrigatório</p>
    </div>
    <div
      *ngIf="myFormIn.get('emailTS')?.errors?.['pattern'] && myFormIn.get('emailTS')?.touched"
    >
      <p class="error-message">E-mail Inválido</p>
    </div>

    <!-- Campo de entrada de senha -->
    <div class="form-group">
      <label for="pass" class="form-label">Senha:</label>
      <input
        type="password"
        id="pass"
        class="form-control"
        formControlName="passwordTS"
      />
    </div>
    <!-- Mensagens de erro para o campo de senha -->
    <div
      *ngIf="myFormIn.get('passwordTS')?.errors?.['required'] && myFormIn.get('passwordTS')?.touched"
    >
      <p class="error-message">Senha Obrigatória</p>
    </div>
    <div
      *ngIf="myFormIn.get('passwordTS')?.errors?.['minlength'] && myFormIn.get('passwordTS')?.touched"
    >
      <p class="error-message">Senha deve ter no mínimo 4 caracteres</p>
    </div>

    <!-- Exibir mensagem de erro ou sucesso -->
    <div
      *ngIf="loginMessage"
      [ngClass]="isSuccess ? 'success-message' : 'error-message'"
    >
      <p>{{ loginMessage }}</p>
    </div>

    <br />
    <!-- Botão de login -->
    <button
      class="btn btn-primary signin-btn"
      type="submit"
      [disabled]="!myFormIn.valid"
    >
      Logar
    </button>
  </form>
</div>
