<h1 class="signup-heading">SIGN UP</h1>
<div class="form-container col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="signup-form">
    <!-- Campo para o nome -->
    <div class="form-group">
      <label for="firstName" class="form-label">Nome:</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        formControlName="firstNameTS"
      />
      <div
        *ngIf="myForm.get('firstNameTS')?.errors?.['required'] && myForm.get('firstNameTS')?.touched"
      >
        <p class="error-message">Nome Obrigatório</p>
      </div>
    </div>

    <!-- Campo para o sobrenome -->
    <div class="form-group">
      <label for="lastName" class="form-label">Sobrenome:</label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        formControlName="lastNameTS"
      />
      <div
        *ngIf="myForm.get('lastNameTS')?.errors?.['required'] && myForm.get('lastNameTS')?.touched"
      >
        <p class="error-message">Sobrenome Obrigatório</p>
      </div>
      <div
        *ngIf="myForm.get('lastNameTS')?.errors?.['minlength'] && myForm.get('lastNameTS')?.touched"
      >
        <p class="error-message">Sobrenome deve ter no mínimo 4 caracteres</p>
      </div>
      <div
        *ngIf="myForm.get('lastNameTS')?.errors?.['maxlength'] && myForm.get('lastNameTS')?.touched"
      >
        <p class="error-message">Sobrenome deve ter no máximo 16 caracteres</p>
      </div>
    </div>

    <!-- Campo para o email -->
    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="emailTS"
      />
      <div
        *ngIf="myForm.get('emailTS')?.errors?.['required'] && myForm.get('emailTS')?.touched"
      >
        <p class="error-message">E-mail Obrigatório</p>
      </div>
      <div
        *ngIf="myForm.get('emailTS')?.errors?.['pattern'] && myForm.get('emailTS')?.touched"
      >
        <p class="error-message">E-mail Inválido</p>
      </div>
    </div>

    <!-- Campo para a senha -->
    <div class="form-group">
      <label for="pass" class="form-label">Senha:</label>
      <input
        type="password"
        id="pass"
        class="form-control"
        formControlName="passwordTS"
      />
      <div
        *ngIf="myForm.get('passwordTS')?.errors?.['required'] && myForm.get('passwordTS')?.touched"
      >
        <p class="error-message">Senha Obrigatória</p>
      </div>
    </div>

    <!-- Combobox para selecionar o país -->
    <label for="countryTS" class="form-label">País:</label>
    <select id="countryTS" formControlName="countryTS" class="form-control">
      <option value="">Selecione um país</option>
      <!-- Adicionando um valor padrão -->
      <option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </option>
    </select>

    <!-- Radio buttons para selecionar o gênero -->
    <div>
      <label class="form-label">Gênero:</label>
      <div>
        <label for="maleRadio" class="form-label">Masculino:</label>
        <input
          type="radio"
          id="maleRadio"
          name="genderTS"
          value="male"
          formControlName="genderTS"
        />
        <label for="femaleRadio" class="form-label">Feminino:</label>
        <input
          type="radio"
          id="femaleRadio"
          name="genderTS"
          value="female"
          formControlName="genderTS"
        />
      </div>
    </div>

    <!-- Checkbox para aceitar termos -->
    <div>
      <label for="acceptTermsTS" class="form-label">
        <input
          type="checkbox"
          id="acceptTermsTS"
          formControlName="acceptTermsTS"
        />
        Aceitar termos
      </label>
    </div>

    <br />
    <label>Insira uma imagem:</label>
    <br />
    <input type="file" (change)="onFileSelected($event)" />
    <br />
    <img
      *ngIf="imgURL"
      [src]="imgURL"
      alt="Image preview"
      style="max-width: 150px; max-height: 150px"
    />
    <br /><br />

    <button
      type="submit"
      [disabled]="myForm.invalid || !selectedFile"
      class="btn btn-primary"
    >
      Cadastrar
    </button>
  </form>
</div>
